.bloque {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    .title-ranking{
        display: flex;
        height: 90px;
        background-color:$color-azul;
        justify-content: center;
        font-size: $font-size-h1;
        text-align: center;

        h1 {
            color: $color-marron;
            padding-top: 20px;
        }
    }

    .ranking-container{
        display:flex;
        flex-direction: column;
        order: 1;  

        @include if-desktop{
            flex-direction: row;
        }

        .album-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height:900px;

            @include if-mobile-landscape{
                flex-wrap: wrap;
                height: 520px;

                .facebook{
                    order: 2;
                }
            }
            @include if-desktop{
                flex-direction: column;
                height: 850px;
            }


            &.uno {
                background-color: transparentize($color-tierra, 0.2);
                
                @include if-mobile-landscape{
                    .img-ranking{
                        height: 250px;
                        }
                    }

 
                @include if-desktop{
                    flex: 8;
                    order: 2;
                }
            
            }
            &.dos {
                background-color: transparentize($color-azul, 0.5);
                @include if-desktop{
                    flex: 8;
                    order: 1;
                }
                img{
                    @include if-desktop{
                        order: -1;
                    }
                }
            }
            &.tres {
                background-color: transparentize($color-rosa, 0.6);
                @include if-desktop{
                    flex: 8;
                    order: 4;
                }
                img{
                    @include if-desktop{
                        order: -1;
                    }
                }
            }

            .img-ranking {
                padding-top: 15px;
               max-width: 95%;
               height: 400px;
               min-width: 250px;
               @include if-mobile-landscape{
                    height: 300px;
                    min-width: 300px;
                }
                @include if-desktop{
                    height: 300px;
                    min-width: 300px;
                }
            }

            .info {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 90%; 

                @include if-mobile-landscape{
                  width: 40%;
                }
                @include if-desktop{
                    width: 85%;
                  }
                .nombre {
                    font-family: $title-font-family;
                    font-size: $font-size-h1 +8px;
                    padding-bottom: 20px;
                
                }

                .fecha {
                  font-size: $font-size-h5;
                  color:#A2386B;
                  font-weight: bold;
                }

                .texto {
                    font-size: $font-size-base;
                    color: $color-marron;
                    padding-bottom: 20px;
                    line-height: 1.7em;
                }
        
            }
        }
    }
}