<div class="bloque container">

    <div class="ranking-container">
        <div class="album-item uno">
            <div class="info">
                <h2 class="nombre">El Partenon</h2>
                <p class="texto"> Sus arquitectos fueron <span class="cursiva">Ictinos</span> y <span class="cursiva">Calícrates</span>; mientras que <span class="cursiva">Fidias</span> fue el escultor encargado de su decoración. 
                </br> 
                    Los templos griegos, eran considerados morada de los dioses en la Tierra, así que no estaban construidos 
                     para albergar grandes masas de gente. En su interior se albergaba la estatua del Dios 
                    habilitaba una sala, generalmente el <a href="https://www.glosarioarquitectonico.com/glossary/opistodomos/" target="_blank">opistodomos</a> para las ofrendas. 
                     Por tanto, la función del edificio sería estrictamente religiosa.
                </p>
                <small class="fecha"> Años ‎447-432 (a. C)</small>
            </div>
            <img class="img-ranking" src="./img/parten.jpg" alt="">
            <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Fgriego.html&width=76&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="76" height="65"  scrolling="no" frameborder="0" allowTransparency="true" class="facebook"></iframe>
        </div>
        
        <div class="album-item dos">
            <div class="info">
                <h2 class="nombre">Las Cariatides</h2>
                <p class="texto">Se encuentran en el templo <span class="cursiva">Erecteión</span>, en la <span class="negrita">Acrópolis de Atenas</span>. Este edificio, de planta irregular por el declive del terreno, consta de tres pórticos. El pórtico de la cara sur, es la famosa tribuna de las Cariátides. Las cariátides son figuras antropomórficas a manera de columna, que dan fe de la confianza griega en el cuerpo humano y su materialidad.
                    Estas columnas tienen una altura de 5 metros aproximadamente.
                </p>
                <small class="fecha">Años 421-406 (a.C.)</small>
            </div>
            <img class="img-ranking" src="./img/cariatides.jpg" alt="">
            <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Fgriego.html&width=76&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="76" height="65"  scrolling="no" frameborder="0" allowTransparency="true" class="facebook"></iframe>
        </div>
        
        <div class="album-item tres">
            <div class="info">
                <h2 class="nombre">Atenea Nike</h2>
                <p class="texto">El templo de <span class="negrita">Atenea Niké</span> fue construido por el arquitecto <span class="cursiva">Calícrates</span>. 
                    Su estado de conservación no es del todo bueno, ya que ha perdido gran parte de las esculturas del friso 
                    y toda la cubierta incluyendo el frontón. Hoy es monumento declarado Patrimonio de la Humanidad por la Unesco.
                    Su función era religiosa, esencialmente para homenajear a la diosa Atenea Niké ( <a href="https://es.wikipedia.org/wiki/Nike_(mitolog%C3%ADa)" target="_blank">Atenea Alada</a>) y sus victorias en batallas.

                </p>
                <small class="fecha">Años 449-421 (a.C)</small>
            </div>
            <img class="img-ranking" src="./img/nike.jpg" alt="" >
            <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Fgriego.html&width=76&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="76" height="65"  scrolling="no" frameborder="0" allowTransparency="true" class="facebook"></iframe>
        </div>
    </div>

    <div class="title-ranking">
        <h1>Arquitectura en el Arte Griego</h1>
    </div>
</div>
