<div class="bloqe container">

        <div class="roma-container">
            <div class="art-item one">
                <div class="informacion">
                    <h2 class="templo">Panteon de Agripa</h2>
                    <p class="text"> Este templo se construyó durante el reinado del <span class="cursiva">emperador Adriano</span>. </br>
                            La idea de Adriano era construir un templo que sirviese de culto o de morada a todo el panteón de dioses
                             greco-romanos. Por tanto su función principal fue religiosa, a partir de la conversión en religión oficial 
                             del cristianismo, en época del <span class="cursiva">emperador Teodosio</span>, el Panteón se convirtió en iglesia cristiana.
                             <br>
                            Hoy en día, es una de las mayores <a href="https://www.disfrutaroma.com/monumentos-atracciones" target="_blank">atracciones turísticas</a> de la ciudad de Roma, junto con los foros y el Coliseo.
                    </p>
                    <small class="fecha"> Año 120 (d. C)</small>
                </div>
                <img class="img-roma" src="./img/pant.jpg" alt="">
                <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Fgriego.html&width=76&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="76" height="65"  scrolling="no" frameborder="0" allowTransparency="true" class="facebook"></iframe>
            </div>
            
            <div class="art-item two">
                <div class="informacion">
                    <h2 class="templo">El Coliseo</h2>
                    <p class="text">El Coliseo se convirtió en uno de los símbolos del <span class="negrita">Imperio Romano.</span> 
                     Estuvo en uso hasta que los espectáculos de gladiadores fueron prohibidos en el siglo V.
                     Los materiales que fueron utilizados son hormigón, mármol, madera, ladrillo, piedra y estuco.
                     Podemos observar cómo se utiliza tanto el <a href="https://mariafernandahappy.webnode.es/sistemas-constructivos/" target="_blank">sistema adintelado</a> como el abovedado. En
                        cada planta, se distribuyen columnas adosadas a los muros, y entre
                        cada una de las columnas se construyen arcos de medio punto.

                    </p>
                    <small class="fecha">Años 70-80 (d.C.)</small>
                </div>
                <img class="img-roma" src="./img/koliseo.jpg" alt="">
                <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Fgriego.html&width=76&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="76" height="65"  scrolling="no" frameborder="0" allowTransparency="true" class="facebook"></iframe>
            </div>
            
            <div class="art-item three">
                <div class="informacion">
                    <h2 class="templo">Acueducto de Segovia</h2>
                    <p class="text">El acueducto se encuentra en el centro de la ciudad y fue construido 
                        para hacer llegar el agua desde la Sierra de Guadarrama hasta la ciudad de Segovia. 
                        Su nombre procede de la unión de dos palabras latinas: <span class="cursiva">aqua</span> (agua) <span class="cursiva">ducere</span> (conducir). 
                        Previamente a la construcción de un acueducto, los ingenieros romanos debían llevar a cabo un minucioso 
                        estudio del terreno, de sus desniveles y de las posibilidades del posterior recorrido del agua.
                    </p>
                    <small class="fecha">Año 200 (d.C)</small>
                </div>
                <img class="img-roma" src="./img/segovia.jpg" alt="" >
                <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Fgriego.html&width=76&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId" width="76" height="65"  scrolling="no" frameborder="0" allowTransparency="true" class="facebook"></iframe>
            </div>
        </div>
    
        <div class="titulo-roma">
            <h1>Arquitectura en el Arte Romano</h1>
        </div>
    </div>