<form novalidate class="arte-form">
    <div class="ui-status error">Se ha producido un error</div>
    <div class="ui-status loading">Guardando obra</div>
    <div class="ui-status ideal">
        <div class="form-control-group">
        <label for="artist">Arquitecto</label>
        <input type="text" id="artist" name="artist" placeholder="Arquitecto" required>
        </div>
     <div class="form-control-group">
        <label for="tittle">Nombre</label>
        <input type="text" id="tittle" name="tittle" placeholder="Nombre del edificio" required>
        </div>
     <div class="form-control-group">
            <label for="cover_url">Obra URL</label>
            <input type="url" id="cover_url" name="cover_url" placeholder="http://..." required>
        </div>
        <div class="form-control-group">
        <button>Save architecture</button>
        </div>

</div>

</form>