<form novalidate class="comentarios">
     <div class="ui-status fail">Se ha producido un error</div>
     <div class="ui-status cargando">Guardando obra</div>
     <div class="ui-status deseado">
            <div class="control-coment">Usuario<br/>
                <input type="text"/>
            </div>
            </br>
            <div class="control-coment">Asunto<br/>
                <textarea name="comentarios" rows="6">Escribe aquí tus comentarios</textarea>
            </div>
            </br>
            <button>Enviar</button>
        </br>
        </br>
        </br>   
     </div>
</form>	