<section class="lista-obras ideal">
    
     <div class="ui-status empty">
        No hay ninguna canción.
    </div>

    <div class="ui-status error">
        Se ha producido un error.
    </div>

    <div class="ui-status loading">
        Cargando...

    </div>

    <div class="ui-status ideal">
        <a href="griego.html">
        <article class="obra">
            <img class="cover" src="img/partenon.jpg" alt="Artista">
            <div class="artist">Arte Griego</div>
            <div class="titulo">El Arte Griego está comprendido entre los siglos IX y II (A.C.). </div>
        </article>
         </a>
         <a href="roma.html">
        <article class="obra">
            <img class="cover" src="img/arco.jpg" alt="Artista">
            <div class="artist">Arte Romano</div>
            <div class="titulo">El Arte Romano está comprendido entre los siglos I (A.C.) y V (D.C.)</div>
        </article>
        <article class="obra">
            <img class="cover" src="img/cordoba.jpg" alt="Artista">
            <div class="artist">Islam</div>
            <div class="titulo">Abarca desde el siglo VII hasta el siglo XV.</div>
        </article>
        <article class="obra">
            <img class="cover" src="img/romanico.jpg" alt="Artista">
            <br>
            <br>
            <div class="artist">Arte Romanico</div>
            <div class="titulo">El románico abarca los siglos XI y XII.</div>
        </article>
        <article class="obra">
            <img class="cover" src="img/gotico.jpg" alt="Artista">
            <div class="artist">Arte Gotico</div>
            <div class="titulo">Abarcó desde el siglo XII hasta el siglo XV.</div>
        </article>
        <article class="obra">
            <img class="cover" src="img/renacimiento.jpg" alt="Artista">
            <div class="artist">Renacimiento</div>
            <div class="titulo">Abarca los siglos XV y XVI. </div>
        </article>
        <article class="obra">
            <img class="cover" src="img/barroco.jpg" alt="Artista">
            <div class="artist">Arte Barroco</div>
            <div class="titulo">El arte barroco se implantó durante el siglo XVII.</div>
        </article> 
        <article class="obra">
            <img class="cover" src="img/neoclasico.jpg" alt="Artista">
            <div class="artist">Arte neoclasico</div>
            <div class="titulo">Abarca los finales del siglo XVIII e inicios del XIX.</div>
        </article>
        <article class="obra">
            <img class="cover" src="img/contemporanea.jpg" alt="Artista">
            <div class="artist">Arte contemporaneo </div>
            <div class="titulo">Comprende todo el siglo XIX.</div>
        </article>
        <article class="obra">
            <img class="cover" src="img/moderna.jpg" alt="Artista">
            <br>
            <br>
            <div class="artist">Arquitectura moderna</div>
            <div class="titulo">Arquitectura usada desde el siglo XX hasta la actualidad.</div>
        </article>
         </a>
   
     </div>
</section>